<app-header></app-header>
<div class="container-fluid">
  <div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
      Company Details
    </h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModalLong"
        >
          Add Company
        </button>

        <table
          class="table table-bordered table-responsive-md table-striped text-center"
        >
          <tr>
            <th class="text-center">Comapny Code</th>
            <th class="text-center">Company Name</th>
            <th class="text-center">Company CEO</th>
            <th class="text-center">Company Turnover</th>
            <th class="text-center">Website</th>
            <th class="text-center">StockExchange</th>
            <th class="text-center">Action</th>
          </tr>
          <tr *ngFor="let comp of companyData; let id = index">
            <td>
              <span contenteditable="false">{{ comp.companyCode }}</span>
            </td>
            <td>
              <span contenteditable="false">{{ comp.companyName }}</span>
            </td>
            <td>
              <span contenteditable="false">{{ comp.companyCeo }}</span>
            </td>
            <td>
              <span contenteditable="false">{{ comp.companyTurnover }}Cr.</span>
            </td>
            <td>
              <span contenteditable="false">{{ comp.companyWebsite }}</span>
            </td>
            <td>
              <span contenteditable="false">{{
                comp.companyStockExchange
              }}</span>
            </td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                style="margin: 3px"
                data-toggle="modal"
                data-target="#updateModal"
                (click)="updateObj(comp)"
              >
                <i class="fa fa-edit"></i> Edit
              </button>

              <button class="btn btn-primary btn-sm">
                <i class="fa fa-trash"></i>
                <a
                  title="delete"
                  class="btn-primary"
                  (click)="confirm(comp.companyCode, comp)"
                  >Delete</a
                >
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalLong"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add New Company</h4>
      </div>
      <form (ngSubmit)="addCompany()" #registerForm="ngForm">
        <div class="container">
          <div class="editableForm">
            <label for="inputEmail" class="sr-only">Company Code</label
            ><small>Company Code</small>

            <input
              type="text"
              class="form-control"
              placeholder="Company Code"
              required
              autofocus
              name="CompanyCode"
              [(ngModel)]="companyModal.companyCode"
              onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              #companyCode="ngModel"
            />
            <small
              class="text-danger"
              *ngIf="
                (companyCode.touched || registerForm.submitted) &&
                companyCode.errors?.required
              "
            >
              CompanyCode is mandory *
            </small>
          </div>
          <div class="editableForm">
            <label class="sr-only">Company Name</label
            ><small>Company Name:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Name"
              required
              name="Company Name"
              [(ngModel)]="companyModal.companyName"
              #name="ngModel"
            />
            <small
              class="text-danger"
              *ngIf="
                (name.touched || registerForm.submitted) &&
                name.errors?.required
              "
            >
              Company Name is Required
            </small>
          </div>
          <div class="editableForm">
            <label class="sr-only">Company CEO</label
            ><small>Company CEO:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company CEO"
              required
              name="Company CEO"
              [(ngModel)]="companyModal.companyCeo"
              #ceo="ngModel"
            />
            <small
              class="text-danger"
              *ngIf="
                (ceo.touched || registerForm.submitted) && ceo.errors?.required
              "
            >
              CompanyCeo Name is Required
            </small>
          </div>
          <div class="editableForm">
            <label class="sr-only">Company Turnover In Cr.</label
            ><small>Company Turnover In Cr.:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Turnover In Crore"
              required
              name="Company Turnover In Crore"
              [(ngModel)]="companyModal.companyTurnover"
              onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              #turnOver="ngModel"
              minlength="2"
            />
            <small
              class="text-danger"
              *ngIf="
                (turnOver.touched ||
                  registerForm.submitted ||
                  turnOver.error?.min) &&
                turnOver.errors?.required
              "
            >
              Company turn Over must be 10 Cr.
            </small>
          </div>
          <div class="editableForm">
            <label class="sr-only">Company Website Details</label
            ><small>Company Website Details:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Website Url"
              required
              name="companywebsite"
              [(ngModel)]="companyModal.companyWebsite"
              #webSite="ngModel"
            />
            <small
              class="text-danger"
              *ngIf="
                (webSite.touched || registerForm.submitted) &&
                webSite.errors?.required
              "
            >
              Company web Site is mandatory *
            </small>
          </div>
          <div class="editableForm">
            <small>Select Stock Exchage:</small>
            <select
              class="form-control"
              name="stockExchangeNames"
              [(ngModel)]="companyModal.companyStockExchange"
              required
            >
              <option value="Select" selected disabled>Select</option>
              <option value="NSE">NSE</option>
              <option value="BSE">BSE</option>
              <!-- <option *ngFor="let stock of stockExchange" [value]="stock">
                {{ stock }}
              </option> -->
            </select>
          </div>
        </div>
        <div class="modal-footer" style="flex-wrap: nowrap">
          <button
            type="button"
            class="btn btn-secondary button_add"
            data-dismiss="modal"
          >
            Close
          </button>
          <span> </span>
          <button
            type="button"
            class="btn btn-primary button_add"
            data-dismiss="modal"
            (click)="addCompany()"
            [disabled]="!registerForm.valid"
          >
            Rigister
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Update form Start -->
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="updateModal"
  aria-hidden="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          Update Company Detaials
        </h4>
      </div>
      <form #ngForm="ngForm">
        <div class="container">
          <div class="editableForm">
            <label class="sr-only">Company Code</label
            ><small>Company Code</small>

            <input
              type="text"
              class="form-control"
              placeholder="Company Code"
              required
              autofocus
              name="Company Code"
              [(ngModel)]="updateCompModal.companyCode"
              disabled
            />
          </div>
          <div class="editableForm">
            <label class="sr-only">Company Name</label
            ><small>Company Name:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Name"
              required
              name="Company Name"
              [(ngModel)]="updateCompModal.companyName"
              #companyName="ngModel"
            />
            <small
              class="text-danger"
              *ngIf="
                (companyName.touched || registerForm.submitted) &&
                companyName.errors?.required
              "
            >
              companyName is mandory *
            </small>
          </div>
          <div class="editableForm">
            <label class="sr-only">Company CEO</label
            ><small>Company CEO:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company CEO"
              required
              name="Company CEO"
              [(ngModel)]="updateCompModal.companyCeo"
              #ceo="ngModel"
            />
            <small
              class="text-danger"
              *ngIf="
                (ceo.touched || registerForm.submitted) && ceo.errors?.required
              "
            >
              company Ceo Name is mandory *
            </small>
          </div>
          <div class="editableForm">
            <label class="sr-only">Company Turnover</label
            ><small>Company Turnover:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Turnover In Crore"
              required
              name="Company Turnover In Crore"
              [(ngModel)]="updateCompModal.companyTurnover"
            />
          </div>
          <div class="editableForm">
            <label class="sr-only">Company Website Details</label
            ><small>Company Website Details:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Website Url"
              required
              name="companywebsite"
              [(ngModel)]="updateCompModal.companyWebsite"
              #webSite="ngModel"
            />
            <small
              class="text-danger"
              *ngIf="
                (webSite.touched || registerForm.submitted) &&
                webSite.errors?.required
              "
            >
              company webSite is mandory *
            </small>
          </div>
          <div class="editableForm">
            <small>Select Stock Exchage:</small>
            <select
              class="form-control"
              name="stockExchangeNames"
              [(ngModel)]="updateCompModal.companyStockExchange"
            >
              <option value="select">Select</option>
              <option
                *ngFor="let stock of stockExchange"
                [selected]="updateCompModal.stockExchangeNames == stock"
                [value]="stock"
              >
                {{ stock }}
              </option>
            </select>
          </div>
        </div>
        <div class="modal-footer" style="flex-wrap: nowrap">
          <button
            type="button"
            class="btn btn-secondary button_add"
            data-dismiss="modal"
          >
            Close
          </button>
          <span> </span>
          <button
            type="button"
            class="btn btn-primary button_add"
            data-dismiss="modal"
            (click)="updateCompany()"
          >
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Update form end -->
