<app-header></app-header>
<div class="container-fluid">
  <div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
      Company Details
    </h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModalLong"
        >
          Add Company
        </button>

        <table
          class="table table-bordered table-responsive-md table-striped text-center"
        >
          <tr>
            <th class="text-center">Comapny Code</th>
            <th class="text-center">Company Name</th>
            <th class="text-center">Company CEO</th>
            <th class="text-center">Company Turnover</th>
            <th class="text-center">Website</th>
            <th class="text-center">StockExchange</th>
            <th class="text-center">Action</th>
          </tr>
          <tr *ngFor="let comp of companyData; let id = index">
            <td>
              <span contenteditable="false">{{ comp.companycode }}</span>
            </td>
            <td>
              <span contenteditable="false">{{ comp.companyname }}</span>
            </td>
            <td>
              <span contenteditable="false">{{ comp.companyceo }}</span>
            </td>
            <td>
              <span contenteditable="false">{{ comp.companyturnover }}Cr.</span>
            </td>
            <td>
              <span contenteditable="false">{{ comp.companywebsite }}</span>
            </td>
            <td>
              <span contenteditable="false">{{ comp.stockExchangeNames }}</span>
            </td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                style="margin: 3px"
                data-toggle="modal"
                data-target="#updateModal"
                (click)="updateObj(comp)"
              >
                <i class="fa fa-edit"></i> Edit
              </button>

              <button class="btn btn-primary btn-sm">
                <i class="fa fa-trash"></i>
                <a
                  title="delete"
                  class="btn-primary"
                  (click)="confirm(comp.id, comp)"
                  >Delete</a
                >
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalLong"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add New Company</h4>
      </div>
      <form (ngSubmit)="addCompany()" #ngForm="ngForm">
        <div class="container">
          <div class="editableForm">
            <label for="inputEmail" class="sr-only">Company Code</label
            ><small>Company Code</small>

            <input
              type="text"
              class="form-control"
              placeholder="Company Code"
              required
              autofocus
              name="Company Code"
              [(ngModel)]="companyModal.companycode"
            />
          </div>
          <div class="editableForm">
            <label class="sr-only">Company Name</label
            ><small>Company Name:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Name"
              required
              name="Company Name"
              [(ngModel)]="companyModal.companyname"
            />
          </div>
          <div class="editableForm">
            <label class="sr-only">Company CEO</label
            ><small>Company CEO:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company CEO"
              required
              name="Company CEO"
              [(ngModel)]="companyModal.companyceo"
            />
          </div>
          <div class="editableForm">
            <label class="sr-only">Company Turnover</label
            ><small>Company Turnover:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Turnover In Crore"
              required
              name="Company Turnover In Crore"
              [(ngModel)]="companyModal.companyturnover"
            />
          </div>
          <div class="editableForm">
            <label class="sr-only">Company Website Details</label
            ><small>Company Website Details:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Website Url"
              required
              name="companywebsite"
              [(ngModel)]="companyModal.companywebsite"
            />
          </div>
          <div class="editableForm">
            <small>Select Stock Exchage:</small>
            <select
              class="form-control"
              name="stockExchangeNames"
              [(ngModel)]="companyModal.stockExchangeNames"
            >
              <option value="Select" selected disabled>Select</option>
              <option value="NSE">NSE</option>
              <option value="BSE">BSE</option>
              <!-- <option *ngFor="let stock of stockExchange" [value]="stock">
                {{ stock }}
              </option> -->
            </select>
          </div>
        </div>
        <div class="modal-footer" style="flex-wrap: nowrap">
          <button
            type="button"
            class="btn btn-secondary button_add"
            data-dismiss="modal"
          >
            Close
          </button>
          <span> </span>
          <button
            type="button"
            class="btn btn-primary button_add"
            data-dismiss="modal"
            (click)="addCompany()"
          >
            Rigister
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Update form Start -->
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="updateModal"
  aria-hidden="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          Update Company Detaials
        </h4>
      </div>
      <form #ngForm="ngForm">
        <div class="container">
          <div class="editableForm">
            <label class="sr-only">Company Code</label
            ><small>Company Code</small>

            <input
              type="text"
              class="form-control"
              placeholder="Company Code"
              required
              autofocus
              name="Company Code"
              [(ngModel)]="updateCompModal.companycode"
            />
          </div>
          <div class="editableForm">
            <label class="sr-only">Company Name</label
            ><small>Company Name:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Name"
              required
              name="Company Name"
              [(ngModel)]="updateCompModal.companyname"
            />
          </div>
          <div class="editableForm">
            <label class="sr-only">Company CEO</label
            ><small>Company CEO:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company CEO"
              required
              name="Company CEO"
              [(ngModel)]="updateCompModal.companyceo"
            />
          </div>
          <div class="editableForm">
            <label class="sr-only">Company Turnover</label
            ><small>Company Turnover:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Turnover In Crore"
              required
              name="Company Turnover In Crore"
              [(ngModel)]="updateCompModal.companyturnover"
            />
          </div>
          <div class="editableForm">
            <label class="sr-only">Company Website Details</label
            ><small>Company Website Details:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Website Url"
              required
              name="companywebsite"
              [(ngModel)]="updateCompModal.companywebsite"
            />
          </div>
          <div class="editableForm">
            <small>Select Stock Exchage:</small>
            <select
              class="form-control"
              name="stockExchangeNames"
              [(ngModel)]="updateCompModal.stockExchangeNames"
            >
              <option value="select">Select</option>
              <option
                *ngFor="let stock of stockExchange"
                [selected]="updateCompModal.stockExchangeNames == stock"
                [value]="stock"
              >
                {{ stock }}
              </option>
            </select>
          </div>
        </div>
        <div class="modal-footer" style="flex-wrap: nowrap">
          <button
            type="button"
            class="btn btn-secondary button_add"
            data-dismiss="modal"
          >
            Close
          </button>
          <span> </span>
          <button
            type="button"
            class="btn btn-primary button_add"
            data-dismiss="modal"
            (click)="updateCompany()"
          >
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Update form end -->
