<html lang="en">
  <body>
    <div class="accoutn_main">
      <!-- <video muted loop autoplay class="video">
                <source src="/assets/1033264382-preview.mp4" type="video/mp4">
            </video> -->

      <div class="form_area">
        <div class="main_con">
          <div class="headline">
            <h2>IIHT <span>E-Stock Market</span></h2>
          </div>

          <div class="form_con">
            <div class="log_form">
              <!-- <h2>welcome</h2> -->
              <form action="">
                <div class="input-box">
                  <input type="email" name="emails" #userName required />
                  <label>Email/UserName</label>
                </div>
                <div class="input-box">
                  <input type="password" name="password" required #password />
                  <label>Password</label>
                </div>
                <small class="text-danger">{{ message }}</small>
                <div class="button">
                  <button
                    type="submit"
                    (click)="onSubmit(userName.value, password.value)"
                  >
                    LOGIN
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
