<app-header></app-header>
<div class="container-fluid">
  <div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
      Stock Details
    </h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModalLong"
        >
          Add Stock
        </button>
        <table
          class="table table-bordered table-responsive-md table-striped text-center"
        >
          <tr>
            <th class="text-center">Comapny Code</th>
            <th class="text-center">Company Name</th>
            <th class="text-center">Stock Code/Name</th>
            <th class="text-center">Stock Price</th>
            <th class="text-center">Valid Date</th>
            <th class="text-center">Action</th>
          </tr>
          <tr *ngFor="let stock of stockData; let id = index">
            <td>
              <span contenteditable="false">{{ stock.companyCode }}</span>
            </td>
            <td>
              <span contenteditable="false">{{ stock.companyName }}</span>
            </td>
            <td>
              <span contenteditable="false"
                >{{ stock.stockCode }}/{{ stock.stockName }}</span
              >
            </td>
            <td>
              <span contenteditable="false">{{ stock.stockPrice }}</span>
            </td>
            <td>
              <span contenteditable="false">{{ stock.validDate }}</span>
            </td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                style="margin: 3px"
                data-toggle="modal"
                data-target="#exampleModalLong"
              >
                <i class="fa fa-edit"></i> Edit
              </button>
              <button class="btn btn-primary btn-sm">
                <i class="fa fa-trash"></i>
                <a
                  title="delete"
                  class="btn-primary"
                  onclick="return confirm('Are you sure you want to delete this item')"
                  >Delete</a
                >
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalLong"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add New Company</h4>
      </div>
      <form #ngForm="ngForm">
        <div class="container">
          <div class="editableForm">
            <label for="inputEmail" class="sr-only">Company Code</label
            ><small>Company Code</small>

            <input
              type="text"
              class="form-control"
              placeholder="Company Code"
              required
              autofocus
            />
          </div>
          <div class="editableForm">
            <label for="inputPassword" class="sr-only">Company Name</label
            ><small>Company Name:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Name"
              required
            />
          </div>
          <div class="editableForm">
            <label for="inputPassword" class="sr-only">Company CEO</label
            ><small>Company CEO:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company CEO"
              required
            />
          </div>
          <div class="editableForm">
            <label for="inputPassword" class="sr-only">Company Turnover</label
            ><small>Company Turnover:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Turnover In Crore"
              required
            />
          </div>
          <div class="editableForm">
            <label for="inputPassword" class="sr-only"
              >Company Website Details</label
            ><small>Company Website Details:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Website Url"
              required
            />
          </div>
        </div>
        <div class="modal-footer" style="flex-wrap: nowrap">
          <button
            type="button"
            class="btn btn-secondary button_add"
            data-dismiss="modal"
          >
            Close
          </button>
          <span> </span>
          <button type="button" class="btn btn-primary button_add">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
