<app-header></app-header>
<div class="container-fluid">
  <div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
      Stock Details
    </h3>
    <div class="card-body">
      <div
        *ngIf="isLoaderRequired"
        class="p-5 d-flex flex-column justify-content-center spinner align-items-center"
      >
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="small pt-2 text-success">Loading…</div>
      </div>
      <div>
        <div style="width: 20%; float: left">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addStockModal"
          >
            Add Stock
          </button>
        </div>
        <div style="width: 63%; float: right" class="input-group">
          <select
            class="form-control rounded"
            style="border-color: #007bff"
            [(ngModel)]="serachdata"
          >
            <option value="dates" class="form-control rounded">
              Ser. Dates
            </option>
            <option value="compName" class="form-control rounded">
              Ser. CompanyName
            </option>
          </select>
          <input
            style="margin-right: 10px; width: 0px; border-color: #007bff"
            type="search"
            class="form-control rounded"
            placeholder="Company Name/Code"
            aria-label="Search"
            aria-describedby="search-addon"
            #searchDatahhgh
            *ngIf="serachdata == 'compName'"
          />
          <input
            type="date"
            class="btn btn-outline-primary"
            #startDate
            *ngIf="serachdata == 'dates'"
          />
          <input
            type="date"
            class="btn btn-outline-primary"
            #endDate
            *ngIf="serachdata == 'dates'"
          />
          <button type="button" class="btn btn-outline-primary stockBtn">
            search
          </button>
        </div>
      </div>
      <div id="table" class="table-editable">
        <table
          class="table table-bordered table-responsive-md table-striped text-center"
        >
          <tr>
            <!-- <th class="text-center">Comapny Code</th> -->
            <th class="text-center">Company Name</th>
            <th class="text-center">Stock Name</th>
            <th class="text-center">Stock Price</th>
            <th class="text-center">Start Date</th>
            <th class="text-center">End Date</th>
            <th class="text-center">Action</th>
          </tr>
          <tr *ngFor="let stock of stockData; let id = index">
            <!-- <td>
              <span contenteditable="false">{{ stock.companyCode }}</span>
            </td> -->
            <td>
              <span contenteditable="false">{{ stock.companyName }}</span>
            </td>
            <td>
              <span contenteditable="false">{{ stock.stockName }}</span>
            </td>
            <td>
              <span contenteditable="false">{{ stock.stockPrice }}</span>
            </td>
            <td>
              <span contenteditable="false">{{
                stock.stockStartDate | date: "MM/dd/yyyy"
              }}</span>
            </td>
            <td>
              <span contenteditable="false">{{
                stock.stockEndDate | date: "MM/dd/yyyy"
              }}</span>
            </td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                style="margin: 3px"
                data-toggle="modal"
                data-target="#updateStockData"
                (click)="refreshStockObj(stock)"
              >
                <i class="fa fa-edit"></i> Edit
              </button>
              <button class="btn btn-primary btn-sm">
                <i class="fa fa-trash"></i>
                <a
                  title="delete"
                  class="btn-primary"
                  (click)="deleteStock(stock.stockName, stock)"
                  >Delete</a
                >
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!stockData?.length" class="nodata">
  <h5>No-Data Found</h5>
</div>

<div
  class="modal fade"
  id="addStockModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addStockModal"
  aria-hidden="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add New Stock</h4>
      </div>
      <form #stockForm="ngForm">
        <div class="container">
          <div class="editableForm">
            <small>Select Company :</small>
            <select
              class="form-control"
              name="stockExchangeNames"
              [(ngModel)]="addStockModal.companyCode"
            >
              <option selected disabled>Select</option>
              <option
                *ngFor="let comp of listOfCompanies"
                [value]="comp.companyCode"
              >
                {{ comp.companyName }}
              </option>
            </select>
          </div>

          <div class="editableForm">
            <label class="sr-only">Stock Name</label><small>Stock Name:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Stock Name"
              name="stockName"
              [(ngModel)]="addStockModal.stockName"
              required
              #stockName="ngModel"
            />
            <small
              class="text-danger"
              *ngIf="
                (stockName.touched || stockForm.submitted) &&
                stockName.errors?.required
              "
            >
              StockName is mandory *
            </small>
          </div>
          <div class="editableForm">
            <label class="sr-only">Stock Price</label
            ><small>Stock Price:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Stock Price"
              name="stockPrice"
              [(ngModel)]="addStockModal.stockPrice"
              required
              #stockPrice="ngModel"
              onkeypress="return event.charCode >= 48 && event.charCode <= 57"
            />
            <small
              class="text-danger"
              *ngIf="
                (stockPrice.touched || stockForm.submitted) &&
                stockPrice.errors?.required
              "
            >
              StockPrice is mandory *
            </small>
          </div>

          <div class="editableForm">
            <label class="sr-only">Start Date</label>
            <small>Start Date:</small>
            <input
              type="date"
              id="startDate"
              name="startDate"
              class="form-control"
              [(ngModel)]="addStockModal.stockStartDate"
            />
          </div>

          <div class="editableForm">
            <label class="sr-only">End Date</label>
            <small>End Date:</small>
            <input
              type="date"
              id="endDate"
              name="endDate"
              class="form-control"
              [(ngModel)]="addStockModal.stockEndDate"
            />
          </div>
        </div>

        <div class="modal-footer" style="flex-wrap: nowrap">
          <button
            type="button"
            class="btn btn-secondary button_add"
            data-dismiss="modal"
          >
            Close
          </button>
          <span> </span>
          <button
            type="button"
            class="btn btn-primary button_add"
            data-dismiss="modal"
            (click)="addStock(addStockModal)"
            [disabled]="!stockForm.valid"
          >
            Add Stock
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Update Stock Start -->
<div
  class="modal fade"
  id="updateStockData"
  tabindex="-1"
  role="dialog"
  aria-labelledby="updateStockData"
  aria-hidden="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Stock</h4>
      </div>
      <form #registerForm="ngForm">
        <div class="container">
          <div class="editableForm">
            <label for="inputEmail" class="sr-only">Company Code</label
            ><small>Company Code</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Code"
              required
              name="companyCode"
              [(ngModel)]="updateStockModal.companyCode"
              autofocus
            />
          </div>
          <div class="editableForm">
            <label class="sr-only">Company Name</label
            ><small>Company Name:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Company Name"
              name="companyName"
              [(ngModel)]="updateStockModal.companyName"
              required
            />
          </div>
          <div class="editableForm">
            <label class="sr-only">Stock Name</label><small>Stock Name:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Stock Name"
              name="stockName"
              [(ngModel)]="updateStockModal.stockName"
              required
            />
          </div>
          <div class="editableForm">
            <label class="sr-only">Stock Price</label
            ><small>Stock Price:</small>
            <input
              type="text"
              class="form-control"
              placeholder="Stock Price"
              name="stockPrice"
              [(ngModel)]="updateStockModal.stockPrice"
              required
            />
          </div>
          <div class="editableForm">
            <label class="sr-only">Start Date</label>
            <small>Start Date:</small>
            <input
              type="date"
              id="startDate"
              name="startDate"
              class="form-control"
              [(ngModel)]="updateStockModal.stockStartDate"
            />
          </div>

          <div class="editableForm">
            <label class="sr-only">End Date</label>
            <small>End Date:</small>
            <input
              type="date"
              id="endDate"
              name="endDate"
              class="form-control"
              [(ngModel)]="updateStockModal.stockEndDate"
            />
          </div>
        </div>
        <div class="modal-footer" style="flex-wrap: nowrap">
          <button
            type="button"
            class="btn btn-secondary button_add"
            data-dismiss="modal"
          >
            Close
          </button>
          <span> </span>
          <button
            type="button"
            class="btn btn-primary button_add"
            data-dismiss="modal"
            (click)="updateStock()"
            [disabled]="!registerForm.valid"
          >
            Update Stock
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Update Stock End -->
