<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <app-header></app-header>
    <div class="home-content">
      <div class="overview-boxes" *ngFor="let sts of statistics">
        <div class="box">
          <div class="right-side">
            <div class="box-topic" style="font-size: 15px">Total Companies</div>
            <div class="number">{{ sts.totalCompanies }}</div>
            <div class="indicator">
              <i class="bx bx-up-arrow-alt"></i>
              <span class="text">Up from lastYear</span>
            </div>
          </div>
          <i class="bx bxs-group cart"></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic" style="font-size: 15px">
              Minimum Stock Value
            </div>
            <div class="number">$ {{ sts.minStockPrice }}</div>
            <div class="indicator">
              <i class="bx bx-up-arrow-alt"></i>
              <span class="text">Up from lastYear</span>
            </div>
          </div>
          <i class="bx bx-trending-up cart two"></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic" style="font-size: 15px">
              Maximum Stock Value
            </div>
            <div class="number">${{ sts.maxStockPrice }}</div>
            <div class="indicator">
              <i class="bx bx-up-arrow-alt"></i>
              <span class="text">Up from lastYear</span>
            </div>
          </div>
          <i class="bx bx-trending-up cart two"></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic" style="font-size: 15px">
              Average Stock Value
            </div>
            <div class="number">$ {{ sts.averageStockPrice }}</div>
            <div class="indicator">
              <i class="bx bx-up-arrow-alt"></i>
              <span class="text">Up From lastYear</span>
            </div>
          </div>
          <i class="bx bx-trending-up cart four"></i>
        </div>
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Recent Stock Data</div>
          <div class="container-fluid">
            <div class="card">
              <h3
                class="card-header text-center font-weight-bold text-uppercase py-4"
              >
                Stock Details
              </h3>
              <div class="card-body">
                <div id="table" class="table-editable">
                  <table
                    class="table table-bordered table-responsive-md table-striped text-center"
                  >
                    <tr>
                      <th class="text-center">Comapny Code</th>
                      <th class="text-center">Company Name</th>
                      <th class="text-center">Stock Code/Name</th>
                      <th class="text-center">Stock Price</th>
                      <th class="text-center">Valid Date</th>
                    </tr>
                    <tr
                      *ngFor="
                        let stock of recentStocks.slice(0, 3);
                        let id = index
                      "
                    >
                      <td>
                        <span contenteditable="false">{{
                          stock.companyCode
                        }}</span>
                      </td>
                      <td>
                        <span contenteditable="false">{{
                          stock.companyName
                        }}</span>
                      </td>
                      <td>
                        <span contenteditable="false"
                          >{{ stock.stockCode }}/{{ stock.stockName }}</span
                        >
                      </td>
                      <td>
                        <span contenteditable="false">{{
                          stock.stockPrice
                        }}</span>
                      </td>
                      <td>
                        <span contenteditable="false">{{
                          stock.validDate
                        }}</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
