/* You can add global styles to this file, and also import other style files */
.nodata{
    text-align: center;
    color: blue;
    background: gainsboro;
    margin: 0px 16px 0px 16px;
}

.erroMsg{
    font-size: 17px;
    margin: -36px 413px;
    color: red;
}
.searchBox {
    margin-left: 65%;
}
.searchBtn{
  
color: #0a100c;
font-style: oblique;
}
.spinner{
    position: absolute;
    margin: -36px 500px;
    width: 100px;
    height: 96%;
}

.stockSerachTab{
    width: 63%; float: right
}
.serchByCom{
    margin-right: 10px; width: 0px; border-color: #007bff
}

.stockBtn
{
    margin-left: 6px
}